.container {
  place-content: center;

  .technologies {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--large-space) 0;

    .tech {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: span 2;
      filter: grayscale(100%);
      transition: filter 0.3s ease-in-out;

      svg {
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        filter: grayscale(0%);

        svg {
          transform: scale(1.1);
        }
      }

      &:nth-child(n + 7) {
        grid-column: span 3;
      }
    }
  }
}
